# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
*.env

# Pyenv virtualenv
.python-version

# IDE files
.vscode/
.idea/

# Logs and debug files
*.log
*.sqlite3

# Byte-compiled files
*.pyo
*.pyd

# Docker-related files
*.pid

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.nox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/